<section id="manage-your-work">
    <div class="container">
        <img src="/images/manage-your-work.png" alt="">
        <div class="content">
            <h2>Manage Your Work</h2>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <button class="btn-theme">Learn more<i class="fa-regular fa-arrow-right"></i></button>
        </div>
    </div>
</section>

@code {

}
