<section id="manage-your-work">
    <div class="container">
        <img src="/images/manage-your-work.png" alt="">
        <div class="content">
            <h2>Manage Your Work</h2>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Transparent work management</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Manage work & focus on the most important tasks</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Track your progress with interactive charts</p>
            </div>
            <div class="content-child">
                <i class="fa-regular fa-circle-check"></i>
                <p>Easiest way to track time spent on tasks</p>
            </div>
            <button class="btn-theme">Learn more<i class="fa-regular fa-arrow-right"></i></button>
        </div>
    </div>
</section>

@code {

}
