<section id="top-work-tools">
    <div class="container">
        <div class="headline">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="content">
            <a href="/google" class="content-child">
                <img src="/images/google-icon.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a href="/zoom" class="content-child">
                <img src="/images/zoom.svg" alt="">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </a>
            <a href="/slack" class="content-child">
                <img src="/images/slack.svg" alt="">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>
            <a href="/gmail" class="content-child">
                <img src="/images/gmail.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a href="/trello" class="content-child">
                <img src="/images/trello.svg" alt="">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </a>
            <a href="/monekey" class="content-child">
                <img src="/images/monkey.svg" alt="">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>
            <a href="/dropbox" class="content-child">
                <img src="/images/dropbox.svg" alt="">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </a>
            <a href="/elephant" class="content-child">
                <img src="/images/elephant.svg" alt="">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </a>
        </div>
    </div>
</section>
@code {

}
