@page "/singlecourse"

<section id="singel-course">
<img src="images/single-course.svg" alt="">
    <div class="container">
        <div class="header-course">
            <div class="tags">
                <h4>Best Seller</h4>
            </div>
        <h1>Fullstack Web Developer Course from Scratch</h1>
        <h6>Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</h6>
        </div>
        <div class="content-child">
            @for (int i = 0; i < 5; i++)
            {
                <i class="fa-solid fa-star"></i>

            }
        <i class="fa-regular fa-star"></i>
        <p>(1.2K reviews)</p>
        <p><i class="fa-regular fa-thumbs-up"></i> 5K likes</p>
        <p><i class="fa-regular fa-clock"></i> 148 hours</p>
        </div>
    </div>    
</section>
<section id="course-description">
    <div class="container">
        <div class="flexer">
            <div class="description">
                <h1>Course Description</h1>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <h3>What you'll learn</h3>
                <p><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
                <p><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
                <p><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
                <p><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
                <p><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
            </div>
            <div class="includes">
                <h4>This course includes:</h4>
                <p><i class="fa-regular fa-circle-check"></i> 148 hours on-demand video</p>
                <p><i class="fa-regular fa-circle-check"></i> 18 articles</p>
                <p><i class="fa-regular fa-circle-check"></i> 25 downloadable resources</p>
                <p><i class="fa-regular fa-circle-check"></i> Full lifetime access</p>
                <p><i class="fa-regular fa-circle-check"></i> Certificate of completion</p>
                <div class="price">
                    <h2>$28.99</h2>
                    <h4>$49.00</h4>
                </div>
                <button class="btn-theme">Join Course</button>
            </div>
        </div>

        <div class="program-details">
            <h1>Program Details</h1>
            <div class="details">
                <div class="details-content">
                    <div class="bg-cirle">
                        <h3>1</h3>
                    </div>
                    <div class="details-content-child">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="details-content">
                    <div class="bg-cirle">
                        <h3>1</h3>
                    </div>
                    <div class="details-content-child">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="details-content">
                    <div class="bg-cirle">
                        <h3>1</h3>
                    </div>
                    <div class="details-content-child">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="details-content">
                    <div class="bg-cirle">
                        <h3>1</h3>
                    </div>
                    <div class="details-content-child">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="details-content">
                    <div class="bg-cirle">
                        <h3>1</h3>
                    </div>
                    <div class="details-content-child">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="details-content">
                    <div class="bg-cirle">
                        <h3>1</h3>
                    </div>
                    <div class="details-content-child">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@code {

}
