@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Silicon_Blazor_Main_App.Data
@inject NavigationManager Navigation
@inject SignInManager<ApplicationUser> SignInManager

<nav>
    <NavLink href="Account/Manage" class="btn-theme-s"><i class="fa-regular fa-cog"></i>Account Details</NavLink>
    <NavLink href="Account/Manage/notifications" class="btn-transparent"><i class="fa-regular fa-cog"></i>Notifications</NavLink>

    <NavLink @onclick="HandleLogout" class="btn-transparent"><i class="fa-regular fa-right-to-bracket"></i>Sign out</NavLink>
</nav>

@code {
    private bool hasExternalLogins;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

    private async Task HandleLogout()
    {
        try
        {
            await SignInManager.SignOutAsync();
            Console.WriteLine("User signed out successfully.");
            Navigation.NavigateTo("/account/login", true);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Logout failed: {ex.Message}");
        }
    }
}
