@inherits LayoutComponentBase
@layout AccountLayout


<div class="container">
    <div id="account-details">
        <aside>
            <AccountProfileDetails />
            <ManageNavMenu/>
        </aside>
        @Body
    </div>
</div>






