#download{
  background-color: $gray-100;
  p{
    margin: 0;
  }
  h4{
    margin: 0;

  }
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
    .content{
      h2{
        width: 50%;
        margin: 0;
      }
      .content-parent {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: end;
        gap: 3rem;
        padding: 2rem 0;
        i{
          color: $warning;
        }
      }
    }
  }
}